h1,
h2 {
  text-align: center;
}

.header-container {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name-container {
  display: flex;
  justify-content: space-evenly;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

/* .hidden {
  display: none;
} */

.your-cards,
.dealer-cards {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.player,
.dealer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
